<form [formGroup]="formCustomer" (ngSubmit)="createCustomer()">
  <div class="modal fade" id="modalUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog  modal-xl modal-dialog-scrollable">
      <div class="modal-content">

        <div class="card card-primary">

          <div class="modal-header card-header">

            <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-user"></i> REGISTRAR CLIENTE</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>

        <div class="modal-body">
          <div class="card-body">

            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-customer-tab" data-bs-toggle="tab"
                  data-bs-target="#nav-customer" type="button" role="tab" aria-controls="nav-customer"
                  aria-selected="true">Cliente</button>
                <button class="nav-link" id="nav-progress-tab" data-bs-toggle="tab" data-bs-target="#nav-progress"
                  type="button" role="tab" aria-controls="nav-progress" aria-selected="false">Medidas Iniciales</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <!-- // TAB CUSTOMER -->

              <div class="tab-pane fade show active" id="nav-customer" role="tabpanel"
                aria-labelledby="nav-customer-tab">
                <hr>
                <div class="row g-3">
                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-id-badge"></i></span>
                      </div>
                      <input type="text" class="form-control " formControlName="document" placeholder="No. documento"
                        required>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
                      </div>
                      <input type="text" class="form-control" formControlName="name" placeholder="Ingrese nombre"
                        required>
                    </div>
                  </div>
                </div>


                <div class="row g-3">


                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-birthday-cake"></i></span>
                      </div>
                      <input type="date" class="form-control " formControlName="date_birth" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Fecha de nacimiento">
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                      </div>
                      <input type="email" class="form-control" formControlName="email" placeholder="Ingrese email"
                        required>
                    </div>
                    <div *ngIf="email?.errors?.['pattern']" class="alert alert-danger" role="alert">
                      El formato del email no es válido.
                    </div>
                  </div>

                </div>

                <div class="row g-3">
                  <div class="col-lg-3">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                      </div>
                      <input type="text" class="form-control" formControlName="blood_type"
                        placeholder="Ingrese el tipo de sangre">
                    </div>
                  </div>
                  <div class="col-3">
                    <select class="form-select" formControlName="rh">
                      <option value="" disabled selected>Seleccione el RH</option>
                      <option *ngFor="let rhS of rhSelect">
                        {{rhS}}</option>

                    </select>
                  </div>
                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                      </div>
                      <input type="text" class="form-control" formControlName="eps" placeholder="Ingrese la eps">
                    </div>
                  </div>
                </div>


                <div class="row g-3">
                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                      </div>
                      <input type="number" class="form-control" formControlName="phone" placeholder="No. contacto"
                        required>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-street-view"></i></span>
                      </div>
                      <input type="text" class="form-control" formControlName="address" placeholder="Ingrese dirección"
                        required>
                    </div>
                  </div>
                </div>

                <div class="row g-3">
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" formControlName="state" id="flexCheckChecked"
                        checked>
                      <label class="form-check-label" for="flexCheckChecked">
                        Estado Cliente
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-progress" role="tabpanel" aria-labelledby="nav-progress-tab">
                <!-- //TAB PHYSICAL PROGRESS -->
                <hr>

                <div class="container_silhouette">
                  <img src="../../../assets/img/siluetaM.jpeg" alt="Silueta" class="silhouette" />
                  <button type="button" class="btn_silhouette neck" (click)="measure('Cuello')">Cuello</button>
                  <button type="button" class="btn_silhouette shoulders" (click)="measure('Hombros')">Hombros</button>
                  <button type="button" class="btn_silhouette chest" (click)="measure('Pecho')">Pecho</button>
                  <button type="button" class="btn_silhouette abdomen" (click)="measure('Abdomen')">Abdomen</button>
                  <button type="button" class="btn_silhouette waist" (click)="measure('Cintura')">Cintura</button>
                  <button type="button" class="btn_silhouette hips" (click)="measure('Cadera')">Cadera</button>
                  <button type="button" class="btn_silhouette biceps" (click)="measure('Brazo')">Brazo</button>
                  <button type="button" class="btn_silhouette forearm" (click)="measure('Antebrazo')">Antebrazo</button>
                  <button type="button" class="btn_silhouette thigh" (click)="measure('Muslo')">Muslo</button>
                  <button type="button" class="btn_silhouette calf" (click)="measure('Pantorrilla')">Pantorrilla</button>
                </div>
                <!-- <div class="row g-3">
                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control " formControlName="stature"
                        placeholder="Ingrese la altura en CM">
                      <label for="floatingInput">Altura en cm</label>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" formControlName="weight"
                        placeholder="Ingrese el peso en KG">
                      <label for="floatingInput">Peso en kg</label>
                    </div>
                  </div>
                </div>


                <div class="row g-3">

                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="body_fat" id="floatingbody_fat"
                          placeholder="IMC" readonly>
                        <label for="floatingbody_fat">IMC</label>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="musculature" id="floatingmusculature"
                          placeholder="Porcentaje muscular" readonly>
                        <label for="floatingmusculature">% Muscular</label>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row g-3">
                  <div class="col-4">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" formControlName="calf_circumference"
                        placeholder="Circunferencia Pantorrilla">
                      <label for="floatingInput">Circunferencia Pantorrilla</label>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" formControlName="belt_circumference"
                        placeholder="Circunferencia Cintura">
                      <label for="floatingInput">Circunferencia Cintura</label>
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" formControlName="hip_circumference"
                        placeholder="Circunferencia Cadera">
                      <label for="floatingInput">Circunferencia Cintura</label>
                    </div>
                  </div>

                </div>


                <div class="row g-3">

                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" formControlName="average_arm_muscle_circumference"
                        placeholder="Circurferencia Media del Brazo">
                      <label for="floatingInput">Circurferencia Media del Brazo</label>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" formControlName="thigh_circumference"
                        placeholder="Circunferencia Muslo">
                      <label for="floatingInput">Circunferencia Muslo</label>
                    </div>
                  </div>

                </div>

                <div class="row g-3">
                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" formControlName="relaxed_arm_circumference"
                        placeholder="Circunferencia Brazo Relajado">
                      <label for="floatingInput">Circunferencia Brazo Relajado</label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" formControlName="circumference_contracted_arm"
                        placeholder="Circunferencia Brazo Contraído">
                      <label for="floatingInput">Circunferencia Brazo Contraído</label>
                    </div>
                  </div>
                </div> -->

              </div>

            </div>



          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>

        </div>
      </div>
    </div>
  </div>
</form>

<!--FORM UPDATE CUSTOMER-->

<form [formGroup]="formCustomer" (ngSubmit)="updateCustomer()">
  <div class="modal fade" id="modalUpdateCustomer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">

        <div class="card card-primary">

          <div class="modal-header card-header">

            <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-user"></i> EDITAR CLIENTE</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
              (click)="formReset()"></button>
          </div>
        </div>

        <div class="modal-body">
          <div class="card-body">

            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-customer-edit-tab" data-bs-toggle="tab"
                  data-bs-target="#nav-customer-edit" type="button" role="tab" aria-controls="nav-customer-edit"
                  aria-selected="true">Cliente</button>
                <!-- <button class="nav-link" id="nav-progress-edit-tab" data-bs-toggle="tab"
                  data-bs-target="#nav-progress-edit" type="button" role="tab" aria-controls="nav-progress-edit"
                  aria-selected="false">Progreso Físico</button> -->
              </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
              <!-- // TAB CUSTOMER -->

              <div class="tab-pane fade show active" id="nav-customer-edit" role="tabpanel"
                aria-labelledby="nav-customer-tab">
                <hr>
                <div class="row g-3">
                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-id-badge"></i></span>
                      </div>
                      <input type="text" class="form-control " formControlName="document" placeholder="No. documento"
                        required>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
                      </div>
                      <input type="text" class="form-control" formControlName="name" placeholder="Ingrese nombre"
                        required>
                    </div>
                  </div>
                </div>


                <div class="row g-3">


                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-birthday-cake"></i></span>
                      </div>
                      <input type="date" class="form-control " formControlName="date_birth" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Fecha de nacimiento">
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                      </div>
                      <input type="email" class="form-control" formControlName="email" placeholder="Ingrese email"
                        required>
                    </div>
                  </div>

                </div>

                <div class="row g-3">
                  <div class="col-lg-3">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                      </div>
                      <input type="text" class="form-control" formControlName="blood_type"
                        placeholder="Ingrese el tipo de sangre">
                    </div>
                  </div>
                  <div class="col-3">
                    <select class="form-select" formControlName="rh">
                      <option value="" disabled selected>Seleccione el RH</option>
                      <option *ngFor="let rhS of rhSelect">
                        {{rhS}}</option>

                    </select>
                  </div>
                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                      </div>
                      <input type="text" class="form-control" formControlName="eps" placeholder="Ingrese la eps">
                    </div>
                  </div>
                </div>


                <div class="row g-3">
                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                      </div>
                      <input type="number" class="form-control" formControlName="phone" placeholder="No. contacto"
                        required>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-street-view"></i></span>
                      </div>
                      <input type="text" class="form-control" formControlName="address" placeholder="Ingrese dirección"
                        required>
                    </div>
                  </div>
                </div>

                <div class="row g-3">
                  <div class="col-lg-6">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" formControlName="state" id="flexCheckChecked"
                        checked>
                      <label class="form-check-label" for="flexCheckChecked">
                        Estado Cliente
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-progress-edit" role="tabpanel" aria-labelledby="nav-progress-edit-tab">
                <!-- //TAB PHYSICAL PROGRESS -->
                <hr>
                <div class="row g-3">
                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control " formControlName="stature"
                        placeholder="Ingrese la altura en CM">
                      <label for="floatingInput">Altura en cm</label>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" formControlName="weight"
                        placeholder="Ingrese el peso en KG">
                      <label for="floatingInput">Peso en kg</label>
                    </div>
                  </div>
                </div>


                <div class="row g-3">

                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="body_fat" id="floatingbody_fat"
                          placeholder="IMC" readonly>
                        <label for="floatingbody_fat">IMC</label>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="musculature" id="floatingmusculature"
                          placeholder="Porcentaje muscular" readonly>
                        <label for="floatingmusculature">% Muscular</label>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row g-3">
                  <div class="col-4">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" formControlName="calf_circumference"
                        placeholder="Circunferencia Pantorrilla">
                      <label for="floatingInput">Circunferencia Pantorrilla</label>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" formControlName="belt_circumference"
                        placeholder="Circunferencia Cintura">
                      <label for="floatingInput">Circunferencia Cintura</label>
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" formControlName="hip_circumference"
                        placeholder="Circunferencia Cadera">
                      <label for="floatingInput">Circunferencia Cintura</label>
                    </div>
                  </div>

                </div>


                <div class="row g-3">

                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" formControlName="average_arm_muscle_circumference"
                        placeholder="Circurferencia Media del Brazo">
                      <label for="floatingInput">Circurferencia Media del Brazo</label>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" formControlName="thigh_circumference"
                        placeholder="Circunferencia Muslo">
                      <label for="floatingInput">Circunferencia Muslo</label>
                    </div>
                  </div>

                </div>

                <div class="row g-3">
                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" formControlName="relaxed_arm_circumference"
                        placeholder="Circunferencia Brazo Relajado">
                      <label for="floatingInput">Circunferencia Brazo Relajado</label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" formControlName="circumference_contracted_arm"
                        placeholder="Circunferencia Brazo Contraído">
                      <label for="floatingInput">Circunferencia Brazo Contraído</label>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> -->
          <button type="submit" class="btn btn-primary">Guardar</button>

        </div>
      </div>
    </div>
  </div>
</form>

