<!-- Modal -->
<form [formGroup]="formPayment" (ngSubmit)="createPayment()">
  <div class="modal fade" id="modalPayment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">

        <div class="card card-primary">

          <div class="modal-header card-header">

            <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-user"></i> REGISTRAR PAGO
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>

        <div class="modal-body">
          <div class="card-body">

            <div class="mb-3">
              <div class="row">
                <div class="col-6">
                  <div class="form-floating dropdown">
                    <input type="text" id="label_customer" class="form-control text-uppercase"
                      formControlName="customer" [value]="valueSelectCustomer" placeholder="Seleccionar Cliente"
                      data-bs-toggle="dropdown" aria-expanded="false" (keyup)="onSeachDropdownValueCustomer($event)"
                      toUppercase autocomplete="off" />
                    <label for="label_customer"><i class="fa fa-users" aria-hidden="true"></i> Seleccionar
                      Cliente</label>


                    <ul class="scrollable-menu dropdown-menu" aria-labelledby="label_customer">
                      <li class="dropdown-item" *ngFor="let item of this.searchedOptionsCustomer"
                        style="cursor: pointer;" (click)="selectCustomer(item)">{{item.document}}</li>
                    </ul>

                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating dropdown">
                    <input type="text" id="label_membership" class="form-control text-uppercase"
                      formControlName="membership" [value]="valueSelectMembership" placeholder="Seleccionar Plan"
                      data-bs-toggle="dropdown" aria-expanded="false" (keyup)="onSeachDropdownValueMembership($event)"
                      toUppercase autocomplete="off" />
                    <label for="label_membership"><i class="fa fa-arrow-right" aria-hidden="true"></i> Seleccionar
                      Plan</label>

                    <ul class="scrollable-menu dropdown-menu" aria-labelledby="label_membership">
                      <li class="dropdown-item" *ngFor="let item of this.searchedOptionsMembership"
                        style="cursor: pointer;" (click)="selectMembership(item)">{{item.type_membership}}</li>
                    </ul>

                  </div>
                </div>
              </div>


            </div>



            <div class="row">
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input type="text" id="float_amount" placeholder="Valor a Pagar" formControlName="amount_show"
                    class="form-control text-uppercase" readonly>
                  <label for="float_amount"><i class="fa fa-circle" aria-hidden="true"></i> Valor a Pagar</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="hidden" id="float_amount" placeholder="Valor a Pagar" formControlName="amount"
                    class="form-control text-uppercase" readonly>
                </div>

              </div>
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input type="text" id="float_payment_method" placeholder="Metodo de pago"
                    formControlName="payment_method" class="form-control text-uppercase">
                  <label for="float_payment_method"><i class="fa fa-credit-card" aria-hidden="true"></i> Metodo de
                    pago</label>
                </div>
              </div>

              <div class="col-4">
                <div class="form-floating mb-3">
                  <input type="date" id="float_paid_date" class="form-control text-uppercase"
                    formControlName="paid_date" required>
                  <label for="float_paid_date"><i class="fa fa-calendar" aria-hidden="true"></i> Fecha de pago</label>
                </div>
              </div>


            </div>

            <div class="row">

              <div class="col-12">
                <div class="form-floating mb-3">
                  <input type="date" id="float_start_date" class="form-control text-uppercase"
                    formControlName="membership_start_date" required>
                  <label for="float_start_date"><i class="fa fa-calendar" aria-hidden="true"></i> Fecha Inicial Membresía</label>
                </div>
              </div>

              <!-- <div class="col-6">
                <div class="form-floating mb-3">
                  <input type="date" id="float_end_date" class="form-control text-uppercase"
                    formControlName="membership_end_date" required>
                  <label for="float_end_date"><i class="fa fa-calendar" aria-hidden="true"></i> Fecha Final Membresía</label>
                </div>
              </div> -->


            </div>



            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


<!-- Modal Update-->
<form [formGroup]="formPayment" (ngSubmit)="updatePayment()">
  <div class="modal fade" id="modalUpdatePayment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">

        <div class="card card-primary">

          <div class="modal-header card-header">

            <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-user"></i> REGISTRAR PAGO
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>

        <div class="modal-body">
          <div class="card-body">

            <div class="mb-3">
              <div class="row">
                <div class="col-6">
                  <div class="form-floating dropdown">
                    <input type="text" id="label_customer" class="form-control text-uppercase"
                      formControlName="customer" [value]="valueSelectCustomer" placeholder="Seleccionar Cliente"
                      data-bs-toggle="dropdown" aria-expanded="false" (keyup)="onSeachDropdownValueCustomer($event)"
                      toUppercase autocomplete="off" />
                    <label for="label_customer"><i class="fa fa-users" aria-hidden="true"></i> Seleccionar
                      Cliente</label>


                    <ul class="scrollable-menu dropdown-menu" aria-labelledby="label_customer">
                      <li class="dropdown-item" *ngFor="let item of this.searchedOptionsCustomer"
                        style="cursor: pointer;" (click)="selectCustomer(item)">{{item.document}}</li>
                    </ul>

                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating dropdown">
                    <input type="text" id="label_membership" class="form-control text-uppercase"
                      formControlName="membership" [value]="valueSelectMembership" placeholder="Seleccionar Plan"
                      data-bs-toggle="dropdown" aria-expanded="false" (keyup)="onSeachDropdownValueMembership($event)"
                      toUppercase autocomplete="off" />
                    <label for="label_membership"><i class="fa fa-arrow-right" aria-hidden="true"></i> Seleccionar
                      Plan</label>

                    <ul class="scrollable-menu dropdown-menu" aria-labelledby="label_membership">
                      <li class="dropdown-item" *ngFor="let item of this.searchedOptionsMembership"
                        style="cursor: pointer;" (click)="selectMembership(item)">{{item.type_membership}}</li>
                    </ul>

                  </div>
                </div>
              </div>


            </div>

            <div class="row">
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input type="text" id="float_amount" placeholder="Valor a Pagar" formControlName="amount_show"
                    class="form-control text-uppercase" readonly>
                  <label for="float_amount"><i class="fa fa-circle" aria-hidden="true"></i> Valor a Pagar</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="hidden" id="float_amount" placeholder="Valor a Pagar" formControlName="amount"
                    class="form-control text-uppercase" readonly>
                </div>

              </div>
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input type="text" id="float_payment_method" placeholder="Metodo de pago"
                    formControlName="payment_method" class="form-control text-uppercase">
                  <label for="float_payment_method"><i class="fa fa-credit-card" aria-hidden="true"></i> Metodo de
                    pago</label>
                </div>
              </div>

              <div class="col-4">
                <div class="form-floating mb-3">
                  <input type="date" id="float_paid_date" class="form-control text-uppercase"
                    formControlName="paid_date" required>
                  <label for="float_paid_date"><i class="fa fa-calendar" aria-hidden="true"></i> Fecha de pago</label>
                </div>
              </div>


            </div>



            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
