<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Clientes</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Clientes</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
      data-bs-target="#modalUser">
      Crear Cliente
    </button>
    <div>
      <hr>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Tabla Clientes</h3>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 250px;">
                <input type="text" name="table_search" [(ngModel)]="textFilterData" class="form-control float-right"
                  placeholder="Filtrar" (keyup)="filterTable($event)">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-default" (click)="filterTableBtnSearch()">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body table-responsive p-0" style="height: 300px;">
            <table class="table table-head-fixed text-nowrap">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Documento</th>
                  <th>Nombre</th>
                  <th>RH</th>
                  <th>Eps</th>
                  <th>Estado</th>
                  <th>Telefono</th>
                  <th>email</th>
                  <!-- <th>Fecha Ultimo Pago</th> -->
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let customer of customers let indice = index">
                  <td>{{indice+1}}</td>
                  <td>{{customer.document}}</td>
                  <td>{{customer.name | uppercase}}</td>
                  <td class="fw-bold">{{customer.blood_type | uppercase}}</td>
                  <td class="fw-bold">{{customer.eps | uppercase}}</td>
                  <td *ngIf="customer.state == 1" class="bg-success">ACTIVO</td>
                  <td *ngIf="customer.state == 0" class="bg-danger">INACTIVO</td>
                  <td>{{customer.phone}}</td>
                  <td>{{customer.email | lowercase}}</td>
                  <!-- <td>{{customer.last_purchase| date: 'dd-MM-yyyy': 'UTC-5'}}</td> -->
                  <td>

                    <button class="btn btn-info" title="Progreso Físico" (click)="seeAllProggres(customer)" data-bs-toggle="modal"
                    data-bs-target="#physical_progress"><i class="fas fa-solid fa-spinner"></i>
                  </button>

                    <button class="btn btn-secondary" title="Membresía" (click)="seeAll(customer)" data-bs-toggle="modal"
                      data-bs-target="#vermas"><i class="fas fa-thin fa-eye"></i>
                    </button>

                    <button class="btn btn-warning" title="Editar" data-bs-toggle="modal" data-bs-target="#modalUpdateCustomer"
                      (click)="getCustomerById(customer)"><i class="fas fa-thin fa-pen"></i>
                    </button>

                    <button class="btn btn-danger" title="Eliminar" (click)="deleteByIdCustomer(customer.id)"><i
                        class="fas fa-thin fa-trash"></i></button>



                  </td>

                </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>


<!-- Modal Ver Más -->
<div class="modal fade" id="vermas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalles sobre <i
            class="text-secondary">{{customerHistory.name}}</i></h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="cleanViewMore()"></button>
      </div>
      <div class="modal-body">

        <div *ngIf="flagLoadingMembership" class="d-flex justify-content-center">
          <div  class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>


        <ol class="list-group list-group-numbered" *ngIf="!flagLoadingMembership">


          <div *ngIf="!showTableInfoAdi" class="container">
            <h5 *ngIf="statusPlan" class="modal-title text-center"> <span class="badge bg-success ">Plan Actual</span>
            </h5>
            <h5 *ngIf="!statusPlan" class="modal-title text-center"> <span class="badge bg-danger ">No Cuenta con un
                Plan Actual</span></h5>
            <div class="row mt-2">
              <div class="col-6">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Dias restantes</div>
                    {{customerViewMore.remaining_days}}
                  </div>
                </li>
              </div>
              <div class="col-6">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Fecha Inicial del plan</div>
                    {{customerViewMore.membership_start_date| date: 'dd-MM-yyyy': 'UTC-5'}}
                  </div>
                </li>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-6">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Fecha Final del Plan</div>
                    {{customerViewMore.membership_end_date| date: 'dd-MM-yyyy': 'UTC-5'}}
                  </div>
                </li>
              </div>
              <div class="col-6">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Fecha Pago</div>
                    {{customerViewMore.paid_date | date: 'dd-MM-yyyy': 'UTC-5'}}
                  </div>

                </li>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-12">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Plan</div>
                    {{customerViewMore.type_membership}}
                  </div>
                </li>
              </div>

            </div>
          </div>
        </ol>
        <hr>
        <div class="container mt-2">
          <div class="row mt-2">
            <div class="col-12">
              <h5 *ngIf="!showTableInfoAdi && !flagLoadingMembership" class="modal-title text-end"> <span class="badge bg-primary rounded-pill"
                  style="cursor: pointer;" (click)="getCustomerByDocument(customerHistory.document)">Ver
                  Historial</span></h5>
              <h5 *ngIf="showTableInfoAdi && !flagLoadingMembership" class="modal-title text-end"> <span class="badge bg-danger rounded-pill"
                  style="cursor: pointer;" (click)="cleanShowTableHistory()">Ocultar Historial</span></h5>
            </div>
          </div>
        </div>

        <table *ngIf="showTableInfoAdi && !existDataHistoryCustomer" class="table table-sm mt-2">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ultimo Pago</th>
              <th scope="col">Plan</th>
              <th scope="col">Fecha Inicial</th>
              <th scope="col">Fecha Final</th>
              <!-- <th scope="col">Plan</th> -->
              <!-- <th scope="col">Musculatura</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customerHistory of customersDataHistory let indice = index">
              <td>{{indice+1}}</td>
              <td>{{customerHistory.paid_date | date: 'dd-MM-yyyy': 'UTC-5'}}</td>
              <td>{{customerHistory.type_membership}}</td>
              <td>{{customerHistory.membership_start_date | date: 'dd-MM-yyyy': 'UTC-5'}}</td>
              <td>{{customerHistory.membership_end_date | date: 'dd-MM-yyyy': 'UTC-5'}}</td>
              <!-- <td>{{customerHistory.body_fat}}</td>
              <td>{{customerHistory.musculature}}%</td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row" *ngIf="showTableInfoAdi && existDataHistoryCustomer">
        <div class="col-12">
          <div class="alert alert-primary shadow-lg bg-body rounded" role="alert">
            Upss! lo sentimos aún no se encuentran registros anteriores del usuario {{customerViewMore.name}} <i class="fa fa-frown-o"
              aria-hidden="true"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Modal Progreso Físco -->
<div class="modal fade" id="physical_progress" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true"
  data-bs-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Progreso físico de <i
            class="text-secondary">{{customerHistory.name}}</i></h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="cleanViewMore()"></button>
      </div>
      <div class="modal-body">


        <table class="table table-sm mt-2">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cuello</th>
              <th scope="col">Hombros</th>
              <th scope="col">Pecho</th>
              <th scope="col">Cintura</th>
              <th scope="col">Abdomen</th>
              <th scope="col">Cadera</th>
              <th scope="col">Brazo</th>
              <th scope="col">Antebrazo</th>
              <th scope="col">Muslo</th>
              <th scope="col">Pantorrilla</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customerHistoryProgress of customerHistoryPhysicalProgress let indice = index">
              <td>{{indice+1}}</td>
              <td class="text-end">{{customerHistoryProgress.neck}}</td>
              <td class="text-end">{{customerHistoryProgress.shoulders}}</td>
              <td class="text-end">{{customerHistoryProgress.chest}}</td>
              <td class="text-end">{{customerHistoryProgress.abdomen}}</td>
              <td class="text-end">{{customerHistoryProgress.waist}}</td>
              <td class="text-end">{{customerHistoryProgress.hips}}</td>
              <td class="text-end">{{customerHistoryProgress.biceps}}</td>
              <td class="text-end">{{customerHistoryProgress.forearm}}</td>
              <td class="text-end">{{customerHistoryProgress.thigh}}</td>
              <td class="text-end">{{customerHistoryProgress.calf}}</td>
              <td class="text-center">{{customerHistoryProgress.progress_date | date: 'dd-MM-yyyy': 'UTC-5'}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row" *ngIf="showTableInfoAdi && existDataHistoryCustomer">
        <div class="col-12">
          <div class="alert alert-primary shadow-lg bg-body rounded" role="alert">
            Upss! lo sentimos aún no se encuentran registros anteriores del usuario {{customerViewMore.name}} <i class="fa fa-frown-o"
              aria-hidden="true"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<app-customers-form></app-customers-form>
